.login {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 50, 0.7);
}

.login__body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 570px;
  width: 450px;
  background-color: rgba(0, 0, 50, 0.7);
  padding: 35px 30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.login__title {
  padding-bottom: 5px;
  border-bottom: 2px solid dodgerblue;
  width: 80px;
  color: #fff;
  margin-bottom: 90px;
}

.login__form-input {
  width: 100%;
  margin-bottom: 30px;
  padding: 0 20px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  color: rgb(235, 225, 225);
  background-color: rgba(200, 200, 200, 0.4);
  transition: 0.1s;
}

.login__form-input:focus {
  box-shadow: rgba(200, 200, 200, 0.4) 0px 0px 0px 1px;
}

.login__form-label {
  color: rgba(200, 200, 200, 0.9);
  font-weight: 600;
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.login__form-button {
  width: 100%;
  margin-top: 50px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(4, 40, 243);
  color: #fff;
  font-weight: 700;
}

.login__form-button:hover {
  opacity: 0.8;
}

.login__form-button:active {
  opacity: 0.4;
}
